
@import "var";
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal; /*300 , 500 ,700 어그로체*/
  font-style: normal;
}
/* hader start */



/* hader end */
.p-bar {
  height: 10px;
  background-color: #FF6D35;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  z-index: 9999;
  border-radius: 50px;
}
#wrap {
  font-family: 'Noto Sans KR';
  position: fixed;
  top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 99999;
  background-color: #000;
}
#wrap .full-bg {
  width: 100%;
  position: relative;
  height: 104px;
}
#wrap .full-bg .container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
}
#wrap .full-bg .container::after {
  content: "";
  display: block;
  clear: both;
}
#wrap .full-bg .container h1 {
  float: left;
}
#wrap .full-bg .container h1 a img {
  display: block;
  width: 120px;
  line-height: 70px;
}
#wrap .full-bg .container nav {
  float: left;
  width: 70%;
  font-size: 16px;
  font-weight: 300;
  margin-left: 100px;
}
#wrap .full-bg .container nav:hover + .full {
  height: 350px;
}
#wrap .full-bg .container nav .depth-01 {
  display: flex;
  justify-content: space-around;
}
#wrap .full-bg .container nav .depth-01 li {
  position: relative;
  width: 16.666%;
}
#wrap .full-bg .container nav .depth-01 li a {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 500;
  display: block;
  height: 70px;
  line-height: 70px;
  color: #fff;
  transition: 0.6s;
}
#wrap .full-bg .container nav .depth-01 li a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #EAE3D8;
  margin: 0 auto;
  transition: 0.6s;
}
#wrap .full-bg .container nav .depth-01 li a:hover::after {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #FF6D35;
}
#wrap .full-bg .container nav .depth-01 li .depth-02 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.6s;
  z-index: 99;
}
#wrap .full-bg .container nav .depth-01 li .depth-02 li {
  width: 100%;
}
#wrap .full-bg .container nav .depth-01 li .depth-02 li:hover a {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 300;
  color: #FF6D35;
}
#wrap .full-bg .container nav .depth-01 li .depth-02 li a {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 300;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
#wrap .full-bg .container nav .depth-01:hover .depth-02 {
  height: 400px;
}
#wrap .full-bg .container nav .depth-01 > li:hover > a {
  font-size: 17px;
  font-weight: 600;
  color: #FF6D35;
}
#wrap .full-bg .container .full {
  position: absolute;
  left: 0;
  top: 104px;
  width: 100%;
  background-color: #000;
  z-index: 10;
  height: 0;
  transition: 0.6s;
}
#top {
  position: fixed;
  z-index: 9999;
  bottom: 6%;
  right: -77px;
  visibility: visible;
  opacity: 1;
  transition: 0.6s; 
}
#top a {
  width: 100%;
}
#top a img {
  width: 30%;
  height: 30%;
}
.DisN {
  visibility: hidden !important;
  opacity: 0 !important;
}
.util-menu ul {
  display: flex;
  justify-content: flex-end;
}
.util-menu ul li {
  padding: 0 15px;
  border-right: solid 1px #fff;
}
.util-menu ul li:hover a {
  color: #FF6D35;
}
.util-menu ul li:last-child {
  border-right: solid 0;
}
.util-menu ul li a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
#content {
  margin-top: 120px;
  background-color: #fff;
}
#content .mySwiper {
  position: relative;
}
#content .mySwiper .swiper-slide {
  font-family: 'Noto Sans KR';
}
#content .mySwiper .swiper-slide .text1 {
  font-family: 'SBAggroB';
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 410px;
}
#content .mySwiper .swiper-slide .text1-1 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 480px;
}
#content .mySwiper .swiper-slide .text2 {
  font-family: 'SBAggroB';
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 600px;
}
#content .mySwiper .swiper-slide .text2-1 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 570px;
}
#content .mySwiper .swiper-slide .text3 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 410px;
}
#content .mySwiper .swiper-slide .text3-1 {
  font-family: 'SBAggroB';
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 480px;
}
#content .mySwiper .swiper-slide .text4 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 10%;
  top: 410px;
}
#content .mySwiper .swiper-slide .text4-1 {
  font-family: 'SBAggroB';
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 10%;
  top: 480px;
}
#content .mySwiper .swiper-slide img {
  width: 100%;
  height: 88vh;
  object-fit: cover;
}
.aside {
  max-width: 1280px;
  margin: 50px auto;
}
.aside .aside1 {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 300;
  font-family: 'SBAggroB';
}
.aside .aside2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
#test {
  color: #fff;
  width: 25%;
  display: inline-block;
  background-color: #333;
  border-radius: 30px;
  text-indent: 30px;
  line-height: 40px;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 40px;
}
#btn {
  width: 13%;
  cursor: pointer;
  margin-left: -30px;
}
#btn i {
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}
.aside-01 {
  width: 100%;
  background-color: #333;
  height: 120px;
  margin: 0 auto;
}
.aside-01 .aside-bg {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}
.aside-01 .aside-bg .title-01 {
  font-size: 20px;
  font-weight: 300;
  font-family: 'SBAggroB';
  width: 50%;
  color: #fff;
  line-height: 120px;
}
.aside-01 .aside-bg ul {
  width: 50%;
  text-align: center;
  padding-top: 25px;
}
.aside-01 .aside-bg ul li {
  width: 33.333%;
  float: left;
  padding-top: 10px;
}
.aside-01 .aside-bg ul li:hover a {
  color: #FF6D35;
}
.aside-01 .aside-bg ul li a {
  font-family: 'SBAggroB';
  display: block;
  color: #fff;
  font-size: 20px;
}
.content-font {
  max-width: 1280px;
  margin: 200px auto;
}
.content-font:after {
  content: "";
  display: block;
  clear: both;
}
.content-font .content-font1 {
  font-family: 'Noto Serif';
  font-size: 80px;
  font-weight: 300;
}
.content-font .content-font2 {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 80px;
  font-weight: 300;
  margin: 100px 0;
  margin-left: 290px;
}
.content-font .content-font3 {
  float: right;
  font-family: 'SBAggroB';
  font-size: 60px;
  font-weight: 500;
}
.goods .goods-01 {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.goods .goods-01 li {
  overflow: hidden;
  border-radius: 5px;
}
.goods .goods-01 li:hover a {
  transform: scale(1.4);
  transition: 0.6s;
}
.goods .goods-01 li a {
  display: block;
}
.goods .goods-01 li a img {
  width: 100%;
}
.goods .goods-text01 {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.goods .goods-text01 li {
  width: 100%;
}
.goods .goods-text01 li a {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
  color: #fff;
  display: block;
}
.goods .goods-text01 li a strong {
  font-family: 'SBAggroB';
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin-bottom: -8px;
}
.goods-s .goods-02 {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.goods-s .goods-02 li {
  overflow: hidden;
  border-radius: 20px;
}
.goods-s .goods-02 li:hover a {
  transform: scale(1.4);
  transition: 0.6s;
}
.goods-s .goods-02 li a {
  display: block;
}
.goods-s .goods-02 li a img {
  width: 100%;
}
.goods-s .goods-text02 {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.goods-s .goods-text02 li {
  width: 100%;
}
.goods-s .goods-text02 li a {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
  color: #333;
  display: block;
}
.goods-s .goods-text02 li a strong {
  font-family: 'SBAggroB';
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin-bottom: -8px;
}
.goods-bg01 {
  background-color: #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.goods-bg02 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.title-02 {
  font-family: 'SBAggroB';
  color: #fff;
  max-width: 1280px;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  /* padding-left: 100px; */
}
.title-02::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  max-width: 290px;
  height: 6px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}
.title-03 {
  font-family: 'SBAggroB';
  color: #333;
  max-width: 1280px;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  /* padding-left: 100px; */
}
.title-03::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  max-width: 290px;
  height: 6px;
  background-color: #333;
  border-radius: 10px;
  margin-right: 10px;
}

.recommend{
  max-width: 1280px;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.recommend .recommend-bg{
  background-color: #333;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  /* position: relative; */
}
.recommend .recommend-bg .title-04 {
  font-family: 'SBAggroB';
  color: #fff;
  padding: 30px 0;
}
.recommend .recommend-bg ul .t01 {
  display: flex;
  justify-content: left;
  width: 100%;
}
.recommend .recommend-bg ul .t01 a {}
.recommend .recommend-bg ul .t01 a img {
  width: 100%;
  padding-top: 50px;
  margin-left: -20px;
}

.recommend .recommend-bg ul .t02 {
  display: flex;
  justify-content: right;
  width: 100%;
}
.recommend .recommend-bg ul .t02 a {}
.recommend .recommend-bg ul .t02 a img {
  width: 100%;
  padding-bottom: 50px;
  margin-right: -20px;
}


/* .recommend {
  max-width: 1280px;
  font-size: 22px;
  font-weight: 600;
  margin: -100px auto;
  position: relative;
}
.recommend .recommend-bg {
  margin: 500px auto;
  background-color: #333;
  max-width: 1000px;
  height: 600px;
}
.recommend .recommend-bg .title-04 {
  font-family: 'SBAggroB';
  color: #fff;
  text-align: center;
  padding-top: 289px;
}
.recommend .recommend-bg .title-04::before, .recommend .recommend-bg .title-04::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  max-width: 290px;
  height: 6px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 20px;
}
.recommend .recommend-bg ul .t01 {
  position: absolute;
  left: 0;
  top: -200px;
  max-width: 620px;
  height: 400px;
  overflow: hidden;
}
.recommend .recommend-bg ul .t01:hover a {
  transition: 0.6s;
  transform: scale(1.4);
}
.recommend .recommend-bg ul .t01 a {
  display: block;
  max-width: 620px;
  height: 400px;
}
.recommend .recommend-bg ul .t01 a img {
  max-width: 100%;
}
.recommend .recommend-bg ul .t02 {
  position: absolute;
  left: 50%;
  top: 400px;
  max-width: 620px;
  height: 400px;
  overflow: hidden;
}
.recommend .recommend-bg ul .t02:hover a {
  transition: 0.6s;
  transform: scale(1.4);
}
.recommend .recommend-bg ul .t02 a {
  display: block;
  max-width: 620px;
  height: 400px;
}
.recommend .recommend-bg ul .t02 a img {
  width: 100%;
} */

.youtube {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px;
}
.youtube span {
  font-family: "SBAggroB";
  display: block;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}

.adver {
  width: 100%;
  height: 56vh;
  background-image: url("../img/bg-01.png");
  background-size: cover;
}
.adver .adver-img {}
.adver .adver-img .title-05 {
  font-family: 'SBAggroB';
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.adver .adver-img img {
  width: 100%;
}
.adver .adver-group {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.adver .adver-group .adver-img1 {
  width: 50%;
}
.adver .adver-group .adver-img1 img {
  width: 100%;
}

.adver .adver-group .adver-bg {
  width: 50%;
  background-color: #fff;
  position: relative;
}
.adver .adver-group .adver-bg .adver-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.adver .adver-group .adver-bg .adver-logo img {
  width: 30%
}
.review {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.review .title-06 {
  font-family: 'SBAggroB';
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 60px;
}
.review .review-01 {
  display: flex;
  justify-content: space-between;
}
.review .review-01 .r-box1 {
  position: relative;
  width: 30%;
}
.review .review-01 .r-box1:hover .r-box2 {
  display: block;
}
.review .review-01 .r-box1:hover a img {
  opacity: 10%;
}
.review .review-01 .r-box1 a {
  display: block;
  color: #333;
}
.review .review-01 .r-box1 a img {
  width: 100%;
  transition: 0.6s;
}
.review .review-01 .r-box1 a .r-box1Date {
  font-family: 'SBAggroB';
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}
.review .review-01 .r-box1 a .r-box2 {
  font-family: 'SBAggroB';
  display: none;
  width: 60%;
  position: absolute;
  left: 18%;
  top: 16%;
}
.review .review-01 .r-box1 a .r-box2 strong {
  font-family: 'SBAggroB';
  font-size: 18px;
  font-weight: 300;
}
.review .review-01 .r-box1 a .r-box2 p {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 600;
  margin: 40px 0;
  line-height: 30px;
}
.review .review-01 .r-box1 a .r-box2 b {
  font-family: 'SBAggroB';
  font-size: 18px;
  font-weight: 300;
}
#notice {
  font-family: 'SBAggroB';
  font-weight: 700;
}
#notice .board {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 500px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
#notice .board li {
  width: 20%;
  background-color: #333;
  text-align: center;
  color: #fff;
}
#notice .board li input {
  display: none;
}
#notice .board li input:checked + label {
  background-color: #fff;
  color: #333;
}
#notice .board li input:checked ~ .ab-box {
  z-index: 99;
}
#notice .board li label {
  font-family: 'SBAggroB';
  font-size: 18px;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  transition: 0.6s;
}
#notice .board li .ab-box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color: #333;
  background-color: #fff;
  height: 300px;
  z-index: 1;
}
#notice .board li .ab-box p {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #999;
  border-radius: 2px;
}
#footer {
  background-color: #fff;
  font-family: 'Noto Sans KR';
}
#footer .contentLine {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: #333;
}
#footer .contentLine .bottom {
  width: 16%;
  padding: 100px 0;
  text-align: center;
}
#footer .contentLine .bottom h2 a {
  display: block;
}
#footer .contentLine .bottom h2 a img {
  width: 120px;
}
#footer .contentLine .bottom address {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  margin-top: -50px;
}
#footer .contentLine .bottom address strong {
  display: block;
  font-size: 18px;
  line-height: 50px;
  padding-top: 50px;
}
#footer .contentLine .bottom address p {
  margin-top: 2px;
}
#footer .contentLine .bottom-line {
  border-right: solid 1px #333;
  height: 220px;
  margin-top: 50px;
}
#footer .contentLine .bottom2 {
  width: 64%;
  margin-top: 60px;
}
#footer .contentLine .bottom2 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#footer .contentLine .bottom2 ul li {
  width: 16.66%;
  line-height: 30px;
}
#footer .contentLine .bottom2 ul li a {
  display: block;
  color: #333;
  font-size: 16px;
}
#footer .contentLine .bottom2 ul > li:last-child {
  margin-right: 0;
}
#footer .contentLine .bottomBox .b-box0 {
  margin-left: 40px;
  margin-top: 96px;
}
#footer .contentLine .bottomBox .b-box1 {
  margin-left: 40px;
  margin-top: 20px;
}
#footer .contentLine .bottomBox .b-box2 {
  margin-left: 40px;
  margin-top: 20px;
}
#footer .contentLine .bottomBox .b-box3 {
  width: 160px;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-right: 27px;
}
#footer .contentLine .bottomBox .b-box3 li {
  width: 33.33%;
}
#footer .contentLine .bottomBox .b-box3 .btn1 a img, #footer .contentLine .bottomBox .b-box3 .btn2 a img, #footer .contentLine .bottomBox .b-box3 .btn3 a img {
  width: 34px;
}

#slider{
  display: none;
}

@media only screen and (max-width:1280px) {
  .container{
    display: none;
  }

/*  header slider */
#wrap {
  padding: 0;
}
#wrap .full-bg {
  height: 60px;
}
#content {
  margin-top: 60px;
}
#slider{
  max-width: 50%;
  text-align: center;
  position: relative;
  z-index: 99999999;
  display: block;
  height: 60px;
}

#slider > h1{
padding-left: 20px;
}
#slider > h1 > a{
  width: 80px;
  display: block;
}
#slider > h1 > a > img{
  width: 100%;
  line-height: 60px;
  height: 60px;
}

#slider > input{
  display: none;
}
#slider > label{
  display: block;
  width: 25px;
  position: fixed;
  top: 14px;
  right: 20px;
  transition: 0.6s;
  z-index: 999;
}
#slider > label > span{
  display: block;
  background-color: #FF6D35;
  height: 1.6px;
  margin: 7px 0;
  transition: 0.6s;
  border-radius: 50px;
}

#slider > #bg:checked + label span:nth-child(1){
  transform: rotate(45deg);
  margin: 16px 0 0 0;
}
#slider > #bg:checked + label span:nth-child(2){
  display: none;
}
#slider > #bg:checked + label span:nth-child(3){
  transform: rotate(-45deg);
  margin: -2px 0 0 0;
}

#slider nav{
  background-color: #fff;
  width: 80%;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.6s;
  height: 100%;
}
#slider .list-bg{
  background-color: #FF6D35;
  width: 80%;
  position: fixed;
  top: 60px;
  left: -100%;
  transition: 0.6s;
  height: 100%;
  opacity: 90%;
}

#slider > #bg:checked ~ nav{
  right: 0;
}

#slider > #bg:checked + label{
  right: 20px;
}

#slider > #bg:checked ~ .list-bg{
  left: 0;
}


#slider nav h1{}
#slider nav h1 > a{
  display: block;
  color: #fff;
  line-height: 100px;
}

#slider nav .depth-01{}
#slider nav .depth-01 li{
  border-top: solid 1px #fff;
}
#slider nav .depth-01 li > a{
  display: inline-block;
  color: #999;
  line-height: 30px;
  text-align: left;
  /* padding-left: 20px; */
}
#slider nav .depth-01 li:hover > a {
  font-weight: 600;
  color: #FF6D35;
}
#slider nav .depth-01 .top1 > li:hover > a::after,
#slider nav .depth-01 .top2 > li:hover > a::after,
#slider nav .depth-01 .top3 > li:hover > a::after,
#slider nav .depth-01 .top4 > li:hover > a::after,
#slider nav .depth-01 .top5 > li:hover > a::after,
#slider nav .depth-01 .top6 > li:hover > a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #FF6D35;
}
/* tab end */

/* slider side nav */

#slider > .nav-list .nav-logo {
  background-color: #fff;
  padding-top: 60px;
}
#slider > .nav-list > .depth-01 {
  background-color: #fff;
}
#slider > .nav-list > .depth-01 > input {
  display: none;
}
#slider > .nav-list > .depth-01 > .top4 > a,
#slider > .nav-list > .depth-01 > label {
  color: #3f3f3f;
  font-weight: 700;
  line-height: 50px;
  display: block;
  background-color: #fff;
}


#slider > .nav-list > .depth-01 > #side1:checked ~ .top1 > li,
#slider > .nav-list > .depth-01 > #side2:checked ~ .top2 > li,
#slider > .nav-list > .depth-01 > #side3:checked ~ .top3 > li,
#slider > .nav-list > .depth-01 > #side4:checked ~ .top4 > li,
#slider > .nav-list > .depth-01 > #side5:checked ~ .top5 > li,
#slider > .nav-list > .depth-01 > #side6:checked ~ .top6 > li {
  display: block;
}
#slider > .nav-list > .depth-01 > .top1 > li,
#slider > .nav-list > .depth-01 > .top2 > li,
#slider > .nav-list > .depth-01 > .top3 > li,
#slider > .nav-list > .depth-01 > .top4 > li,
#slider > .nav-list > .depth-01 > .top5 > li,
#slider > .nav-list > .depth-01 > .top6 > li {
  display: none;
}
#slider > .nav-list > .depth-01 > ul > li > a {
  text-align: center;
}


#content .mySwiper .swiper-slide img {
  height: 93vh;
}

/*  */
#content .mySwiper .swiper-slide .text1,
#content .mySwiper .swiper-slide .text2,
#content .mySwiper .swiper-slide .text3,
#content .mySwiper .swiper-slide .text4{
  font-size: 20px;
}
#content .mySwiper .swiper-slide .text1-1,
#content .mySwiper .swiper-slide .text2-1,
#content .mySwiper .swiper-slide .text3-1,
#content .mySwiper .swiper-slide .text4-1 {
  font-size: 16px;
}

.aside {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#test {
  width: 48%;
  background-color: #333;
  text-indent: 7px;
  line-height: 40px;
  font-size: 14px;
  margin-left: 0;
}
.aside .aside1 {
  width: 30%;
  font-size: 16px;
  transform: translate(0, 19%);
}
#btn {
  width: 13%;
  margin-left: 0;
}
.aside-01 .aside-bg ul {
  width: 55%;
  padding-top: 32px;
}

.aside-01 .aside-bg .title-01 {
  font-size: 16px;
  width: 30%;
}
.aside-01 .aside-bg ul li a {
  font-size: 14px;
}

.content-font .content-font1 {
  font-size: 20px;
  padding-left: 20px;
}
.content-font .content-font2 {
  font-size: 20px;
  margin: 30px 0;
  margin-left: 0;
}
.content-font .content-font3 {
  font-size: 20px;
  padding-right: 20px;
}

.review .review-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.youtube {
    margin-bottom: 50px;
}
.youtube > iframe{
  width: 90%;
  height: 200px;
}
.youtube span {
  font-size: 18px;
}

.recommend .recommend-bg .title-04 {
  font-size: 18px;
}

.adver {
  height: 20vh;
}
.review {
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 0;
}
.review .review-01 .r-box1 {
  width: 90%;
}
.review .title-06 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 30px;
}
.recommend {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}
.recommend .recommend-bg ul .t01 a img {
    width: 80%;
    padding-top: 50px;
    margin-left: 0;
}
.recommend .recommend-bg ul .t02 a img {
    width: 80%;
    padding-bottom: 50px;
    margin-right: 0;
}

.content-font {
  width: 90%;
  margin: 30px auto;
}

.title-02,
.title-03{
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.goods .goods-text01 li a strong,
.goods-s .goods-text02 li a strong {
  font-size: 12px;
}
.goods .goods-text01 li a,
.goods-s .goods-text02 li a {
  font-size: 12px;
}

#notice .board {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#notice .board li label {
  font-size: 12px;
}
#notice .board li .ab-box p {
  font-size: 12px;
}
.review .review-01 .r-box1 a .r-box1Date {
  margin-bottom: 50px;
  font-size: 12px;
}

/* footer */
#footer {
    margin-top: 350px;
}
#footer .contentLine {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #333;
  text-align: center;
}
#footer .contentLine .bottom {
  width: 100%;
  padding: 50px 0 20px 0;
  text-align: center;
}
#footer .contentLine .bottom-line {
    display: none;
}
#footer .contentLine .bottom2 {
  width: 100%;
  margin-top: 0;
}
#footer .contentLine .bottom2 ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#footer .contentLine .bottomBox .b-box0,
#footer .contentLine .bottomBox .b-box1,
#footer .contentLine .bottomBox .b-box2 {
    margin-left: 0;
    margin-top: 20px;
}
#footer .contentLine .bottom address strong {
  line-height: 50px;
  padding-top: 20px;
}
#footer .contentLine .bottomBox .b-box3 {
  width: 100%;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  float: none;
  margin-right: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}
#footer .contentLine .bottomBox .b-box3 li {
  width: 20%;
}
.adver .adver-img .title-05 {
    font-size: 18px;
}
}