<footer id="footer">
    <div class="contentLine">
        <div class="bottom">
            <address>  
                <h2><a href="#"><img src="../img/logo1.svg" alt="footerLogo"></a></h2>
                <strong>고객센터:1544-0000</strong><br>
                상담시간 : 9시 ~ 18시<br>
                <p>(월~금 / 공휴일, 주말 휴무)</p>
            </address>
        </div>
        <div class="bottom-line"></div>
        <div class="bottom2">
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용안내</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
            <div class="bottomBox">
                <div class="b-box0">
                    대표자 : 이경구
                </div>
                <div class="b-box1">
                    (주)홈피지컬 12-345 경기도 가나시 가나다구 1길 123
                </div>
                <div class="b-box2">
                    Copyright (c) TongRo Images Inc. ALL Rights Reserved.
                </div>
                <ul class="b-box3">
                    <li class="btn1"><a href="https://ko-kr.facebook.com/"><img src="../img/facebook.png" alt="페이스북"></a></li>
                    <li class="btn2"><a href="https://www.instagram.com/"><img src="../img/instargram.png" alt="인스타그램"></a></li>
                    <li class="btn3"><a href="https://www.youtube.com/"><img src="../img/youtube.png" alt="유튜브"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>